*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     margin: 0 20px;
}

p{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-cont{
height: 100%;
border-radius: 20px;
background-color: gray;
}

.intro{
    background-color: rgb(57, 1, 110);
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 20px 20px 0 0;
}

.personal{
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 20px;  
    gap: 20px;
    color: white;
}

h2{
    text-align: left;
}

hr{
    height: 2px; 
    width: 100%; 
    background-color: rgb(12, 3, 108); 
    border: none;
   
}
.one{
    width: 40%;
}
.edu{
    padding: 20px;
    color: white;
}

 button{
    padding: 10px 20px;
    background-color: blue;
    border-radius: 5px;
    margin: 2%;
    border: none;
    color: white;
  }

@media(max-width: 670px){
    .main-cont{
        height: 100%;
        background-color:aquamarine ;
    }
    .personal{
        display: flex;
        flex-wrap: wrap;
        min-height: fit-content;
    }
    .one{
        display: flex;
        flex-direction: column;
        flex: 1 0 80% ;
        text-align: center;
        justify-content: center;
    }
}