*{
    margin: 0;
    padding: 0;
    background-color: gray;
    box-sizing: border-box;
}

body{
    padding-top: 100px ;
}

.Heading{
    text-align: center;
    padding: 20px;
    color: white;

}

.picture{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.picture>img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
}
